<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      <% if (currentUser) { %>
        OLLIVANDER'S WAND SHOP
      <% } else { %>
        THE LAUGHING SOCK
      <% } %>
    </title>
    <% if (currentUser) { %>
      <link rel="stylesheet" href="../css/ollivanders.css">
    <% } else { %>
      <link rel="stylesheet" href="../css/index.css">
    <% } %>
  </head>
  <body>
    <div class = "header">
        <% if (currentUser) { %>
          <img src = "../images/ollivandersHeader.png"/>
        <% } else { %>
          <h1>
            the laughing sock
          </h1>
          <h5>
            quality socks est. 1832
          </h5>
        <% } %>
      <nav>
        <% if (currentUser) { %>
          <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Logout"/>
          </form>
        <% } else { %>
        <li>
          <a href="/sessions/new">log in</a>
        </li>
        <li>
          <a href="/users/register">
            register
          </a>
        </li>
      <% } %>
      </nav>
    </div>
    <div class = "container">
      <div class = "productContainer">
        <% if (currentUser) { %>
          <% for (i = 0; i < wands.length; i++) { %>
            <div class = "productBox">
              <a href="<%= wands[i].id %>">
                <img src="<%= wands[i].img %>"/>
              </a>
            </div>
          <% } %>
        <% } else { %>
          <% for (i = 0; i < socks.length; i++) { %>
            <div class = "productBox">
              <a href = "<%= socks[i].id %>">
                <img src = "<%= socks[i].img %>"/>
              </a>
              <h5>
                "<%= socks[i].name %>"
              </h5>
              <li>
                $<%= socks[i].price %>.00
              </li>
            </div>
          <% } %>
        <% } %>
    </div>
  </body>
</html>
