<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      <% if (currentUser) { %>
        OLLIVANDER'S WAND SHOP
      <% } else { %>
        THE LAUGHING SOCK
      <% } %>
    </title>
    <% if (currentUser) { %>
      <link rel="stylesheet" href="../css/ollivanders.css">
    <% } else { %>
      <link rel="stylesheet" href="../css/index.css">
    <% } %>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <% include partials/header.ejs %>
    <div class = "container">
      <div class = "productContainer">
        <% if (currentUser) { %>
          <% for (i = 0; i < wands.length; i++) { %>
            <div class = "productBox">
              <a href="<%= wands[i].id %>">
                <img src="<%= wands[i].img %>"/>
              </a>
            </div>
          <% } %>
        <% } else { %>
          <% for (i = 0; i < socks.length; i++) { %>
            <div class = "productBox">
              <a href = "<%= socks[i].id %>">
                <img src = "<%= socks[i].img %>"/>
              </a>
              <h5>
                "<%= socks[i].name %>"
              </h5>
              <li>
                $<%= socks[i].price %>.00
              </li>
              <br/>
              <% if (socks[i].qty > 0) { %>
                <li class = "inStock">
                  IN STOCK
                </li>
              <% } else { %>
                <li class = "outStock">
                  OUT OF STOCK
                </li>
              <% } %>
            </div>
          <% } %>
        <% } %>
    </div>
  </body>
</html>
