<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>THE LAUGHING SOCK - <%= sock.name %></title>
    <link rel="stylesheet" href="css/show.css">
  </head>
  <body>
    <header>
      <a href="/">
        <h1>
          THE LAUGHING SOCK
        </h1>
      </a>
    </header>
    <div class = "container">
      <div class = "productBox">
        <h2><%= sock.name %></h2>
        <img src = "<%= sock.img %>"/>
        <p>
          <%= sock.description %>
        </p>
        <li>
          QUANTITY: <%= sock.qty %>
        </li>
        <a href = "<%= sock.id %>/edit">
          <button>
            EDIT
          </button>
        </a>
        <form action="/<%= sock.id %>?_method=DELETE" method="POST">
          <input type="submit" value="REMOVE">
        </form>
      </div>
    </div>
  </body>
</html>
